# config.yaml

# Configure a cron expression to execute on a scheduled time
on:
  cron: 0 0 * * *

# The github section contains backup jobs for
# GitHub and GitHub Enterprise
github:
  type: github
  # (required) The GitHub personal access
  # token. Create one with the scopes:
  # "read:org, repo"
  # https://github.com/settings/tokens/new?scopes=repo,read:org
  access_token: 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
  # (optional) Back up repos you own.
  # (default: true)
  owned: true
  # (optional) Back up repos you starred.
  # (default: true)
  starred: true
  # (optional) Back up repos on which you 
  # are a collaborator. (default: true)
  collaborator: true
  # (optional) Back up repos owned by 
  # organisations of which you are a member.
  # (default: true)
  org_member: true
  # (optional) Set this url to connect to
  # your self-hosted github install.
  # (default: https://api.github.com)
  # url: https://github.mydomain.com
  # (optional) Set whether enable lfs support
  lfs:
    - "*"
    # - my-included-org
    # - my-included-user
    # - my-namespace/included-repository-name
  # (optional) Exclude this list of repos
  # or whole organizations/users
  # exclude:
  #   - my-excluded-org
  #   - my-excluded-user
  #   - my-namespace/excluded-repository-name
# The gitlab section contains backup jobs for
# GitLab.com and GitLab on premise
gitlab:
  type: gitlab
  # (required) The GitLab access token.
  # Create one with the scopes: "api"
  # https://gitlab.com/-/profile/personal_access_tokens?scopes=api&name=git-backup
  access_token: glpat-6t78yuihy789uy8t768
  # (optional) Back up repos you own.
  # (default: true)
  owned: true
  # (optional) Back up repos you starred.
  # (default: true)
  starred: true
  # (optional) Back up repos owned by 
  # teams of which you are a member.
  # (default: true)
  member: true
  # (optional) Set this url to connect to
  # your self-hosted gitlab install.
  # (default: https://gitlab.com/)
  # url: https://gitlab.mydomain.com
  # (optional) Set whether enable lfs support
  lfs:
    - "*"
    # - my-included-org
    # - my-included-user
    # - my-namespace/included-repository-name
  # (optional) Exclude this list of repos
  # or whole organizations/users
  # exclude:
  #   - my-excluded-org
  #   - my-excluded-user
  #   - my-namespace/excluded-repository-name
# The CNB section contains backup jobs for
# CNB.cool
cnb:
  type: cnb
  # (required) The CNB access token.
  # Create one with the scopes:
  # "repo-code:r, repo-basic-info:r, account-engage:r"
  # https://docs.cnb.cool/en/guide/access-token.html
  access_token: 4FcGI13ca4AfX17se0iypVdNWsC
  # Repos you own and repos of groups you belong
  # to are always backed up; use include/exclude
  # below to narrow the scope.
  # (optional) Back up repos you starred.
  # (default: true)
  starred: true
  # (optional) Set this url to connect to
  # your self-hosted cnb install.
  # (default: https://cnb.cool/)
  # url: https://cnb.mydomain.com
  # (optional) Set whether enable lfs support
  lfs:
    - "*"
    # - my-included-group
    # - my-included-user
    # - my-namespace/included-repository-name
  # (optional) Whitelist. When set, only repos
  # matching this list are backed up (matched by
  # path prefix). Starred repos are always backed
  # up regardless of this list.
  # include:
  #   - my-included-group
  #   - my-namespace/included-repository-name
  # (optional) Exclude this list of repos or whole
  # groups/users. Matched by path prefix. Takes
  # priority over include.
  # exclude:
  #   - my-excluded-group
  #   - my-excluded-user
  #   - my-namespace/excluded-repository-name
repo:
  type: repo
  include:
    - https://git.zx2c4.com/cgit/
    - https://git.zx2c4.com/wintun/
